.container {
    height: 10vh;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    gap: 20px;
    font-weight: 500;
    width: 100%;
    overflow: hidden;
    border-top: 5px double #fff;
    border-bottom: 5px double #fff;
}

.mark {
    transform: translateX(-800%);
    font-size: 2rem;
    color: #fff;
    animation: slider 15s linear infinite;
    min-width: 200px;
}

@keyframes slider {
    to {
        transform: translateX(800%);
    }
}