.inputSearch {
    display: flex;
    align-items: center;
    box-shadow: -9px 8px 12px rgba(0, 0, 0, 0.99);
    z-index: 3000;
}

.inputSearch input {
    padding: 10px;
    padding-left: 30px;
}

.inputSearch svg {
    position: absolute;
    height: 20px;
    margin-left: 10px;
}