.boxLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #000;
    background-color: #fff;
    box-shadow: -9px 8px 12px rgba(0, 0, 0, 0.99);
    padding: 10px;
}

.noUserDetected {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.noUserDetected h1 {
    font-size: .9rem;
    font-family: 'Courier New', Courier, monospace;
}
.noUserDetected button {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 15px;
    color: #fff;
    background-color: #337;
}

.userDetected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contentUserData button {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 15px;
    color: #000;
    /* background-color: #337; */
    margin-top: 90px;
    position: absolute;
}

.contentUserData {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -10px;
}
.bannerImg {
    border-radius: 13px;
    height: 150px;
}
.contentUserData h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    position: absolute;
    color: #fff;
}