.container {
    height: 10vh;
    width: 100%;
    background-color: #fff;
    z-index: 1000; 
    height: 100%;
    box-shadow: 5px 15px 15px #009c9c;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.wrapper {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left {
    flex: 1;
    display: flex;
    align-items: center;
}
.languaje {
    font-size: 14px;
    cursor: pointer;
}
.searchContainer {
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
    border-radius: 15px;
}
.inputSearch {
    border: none;
}
.searchContainer svg {
    color: #262626;
    font-size: 16;
}
.center {
    flex: 1;
    text-align: center;
}
.Title {
    font-weight: bold;
}
.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menuItem {
    display: flex;
    gap: 20px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}
.textLink {
    text-decoration: none;  
    color: #000;
}
.menuItem svg {
    color: #262626;
    font-size: 32px;
}

@media only screen and (max-width: 900px) {
    .wrapper {
        flex-direction: column;
        gap: 10px;
    }
}