.container {
    height: 80px;
}
.wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left {
    flex: 1;
    display: flex;
    align-items: center;
}
.languaje {
    font-size: 14px;
    cursor: pointer;
}
.searchContainer {
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
}
.inputSearch {
    border: none;
}
.searchContainer svg {
    color: #262626;
    font-size: 16;
}
.center {
    flex: 1;
    text-align: center;
}
.Title {
    font-weight: bold;
}
.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menuItem {
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}
.menuItem svg {
    color: #262626;
    font-size: 32px;
}