.pageNav {
    overflow: hidden;
}
.navContent {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #19062a;
    border-bottom: 5px double #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1000;
    box-shadow: -9px 8px 12px rgba(0, 0, 0, 0.99);

}
.logoImg {
    height: 90px;
}
.linksContent {
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: 1.3rem;
}
.links {
    display: flex;
    width: 100%;
    align-items: space-around;
    justify-content: space-around;
    
}
.links a {
    text-decoration: none;
    color: #fff;
}
.otpContent ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 10px;
    padding-right: 10px;
}
.otpContent ul li{
    border-radius: 15px;
    /* border: 5px solid #337; */
    background-color: #ddd;
    padding: 10px;
    /* box-shadow: -9px 8px 12px rgba(0, 0, 0, 0.99); */
    cursor: pointer;
    transition: .5s;
}
.otpContent ul li:hover{
    background-color: #337;
}

.otpContent ul li svg {
    font-size: 1.2rem;
    color: #000;
}

@media only screen and (max-width: 700px) {
    .links {
        display: none;
    }
    .logoImg {
        height: 70px
    }
}

@media only screen and (min-width: 700px) {
    .linksIcon {
        display: none;
    }
}

.formSearch {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transition: 1s;
    transform: translateX(-20px);
    padding-bottom: 15px;
    padding-top: 120px;
}

.formSearchInvisible {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    transition: 1s;
    transform: translateX(300px);
    padding-top: 120px;
    z-index: -1000;
}

.shoppingCart {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transition: 1s;
    transform: translateX(-20px);
    padding-bottom: 15px;
    padding-top: 120px;
}
.shoppingCartInvisible {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    transition: 1s;
    transform: translateX(350px);
    padding-top: 120px;
    z-index: -1000;
}