.cartPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    padding-top: 50px;
}
.newProducts {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.totalPrice {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.totalPrice button {
    border: 2px solid #000;
    font-size: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 5px #009c9c;
}
.boxProduct {
    display: flex;  
    align-items: center;
    width: 80%;
    height: 50px;
    justify-content: space-between;
}
.alignPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    gap: 20px;
}
.alignPrice svg{
    font-size: 2rem;
}
@media only screen and (max-width: 600px) {
    .totalPrice {
        width: 100%;
        justify-content: center;
    }
}
@media only screen and (max-width: 750px) {
    .boxProduct h1{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 500px) {
    .boxProduct {
        width: 98%;
    }
    .boxProduct h1{
        font-size: .8rem;
    }
    .alignPrice {
        font-size: .8rem;
    }
}