.container {
  flex: 1;
  margin: 5px;
  min-width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5fbfd;
  position: relative;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 10px 5px 5px black;
  overflow: hidden;
  transition: .5s;
  border: 2px solid #262626;
  cursor: pointer;
  height: 200vh;
} 
.container:hover {
  transform: scale(.9);
  background-color: orange;
}

.container .info:hover {
    opacity: 1;
}
.info {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;
}


.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.image {
  height: 75%;
  z-index: 2;
}

.iconContent {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all 0.5s ease;
}
.info:hover {
    transform: scale(1.1);
}

